<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Token" value="Cad4m52hr_b8EYVudSd-rZtZDGM7jh2ZGNeJCRpTPXtEEU8Er6KMzxAVB6jTAt4yfhk7KsDWQrfm_1zwu9xeqYoMT2IlBifa1nh5r4-RV2PS6VELeEgvG-BD1g9LataIzs--1ZYZvODt6Ez8dyoqOxGicyCGBgrSNKbrh1jxo6OmirhQFdU4nOp1JD3IYrZSfqIdZRyjAoz77tIX72oL-2sHnOZfKqBGp1Q1LvSwWFZ4PknTa5Bzh1LuwX9ZgwmB4p2lZIjfQJUM25xjUnyP22TFdK150qPNi9ehPqy3k6HFeJV9Qd1tVew5mhMcqY7K1a_wjwIvu2BQgR84lYPXORTLvHVVQyx1RmCzsHqg6zbpupLbUj5ORUR4u7tIgkJQJkjNyKNgnVBhFAYjF6ttsY8fVA7NU_xqANihLnO6ECVUecW7" />
    <add key="SPURL" value="https://99xtech.sharepoint.com/TimeEntry" />
    <add key="SPUsername" value="timesheetapp@99x.lk" />
    <add key="SPPassword" value="intel@123" />
    <add key="MappingFilePath" value="Mappings\\UserTaskMapping.json" />
  </appSettings>
</configuration>